.content {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;

 
}
.content_bar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 30px;
    padding: auto;
}
main {
    padding: 50px 20px;
    display:block;
    flex-direction: column;
    align-items: center;
}
.block1{
    background-size:cover;
    background-position: center;
    background-image: url(../images/block1-bg.webp);
    background-repeat: no-repeat;
    padding-top: 20%;
    background-size: cover;
    display: flex;
    width: 85%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    
}
.block2{
    background-size:cover;
    background-position: center;
    background-image: url(../images/AMD-Radeon-Software.jpg);
    width: 60vw;
    margin: 300px auto auto auto;          
    height: 300px;           
    flex-wrap: wrap;  
}
.block2 h2{
    margin-left: 1%;
}
.block2 .new-grid {
    text-align:left;
    margin-left: 160px;
    font-size: large;
    font-weight: bolder;
    color:rgb(243, 240, 205);
    flex-wrap: wrap;
}

.block3 h2{
    text-align: left;
    margin-bottom: 50px;
    margin-left: 40vh;
    
}
.block3{
    margin-top: 10%;
}
.block4{
    background-size:cover;
    background-position: center;
    background-image: url(../images/block4-bg.avif);
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.block4 h1{
    text-align: center;
    display: inline-block;
}
.blockAI {
    display: flex;
    max-width: max-content;
    max-height: max-content;
    flex-direction: column;
    margin-left: 20vh;
    margin-top: 10vh;
    padding:10px 10px 10px 10px;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}
h1{
    display: flex;
    width: 70%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
 
}
h2{
    display: flex;
    max-width: max-content;
    max-height: max-content;
    text-align: left;
    margin-left: 30vh;

}
.button {
    background-color: #000000;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;

    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
}

.flex-cont{
    display: flex;
    max-width: max-content;
    max-height: max-content;
    text-align: center;
    flex-direction: column;
    justify-content: left;
}
.button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 10px auto;
    gap: 20%;
    text-decoration: none;
    flex-wrap: wrap;
}
.grid-cont{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px 150px 150px;
    padding: 5px;
    margin-left: 900px;
    position: absolute;
    transform: translateX(-50%);
}
.grid-cont a{
    text-decoration: none;
    color: rgb(3, 152, 211);
}
.grid-cont h4{
    margin-left:0;
}
.el1{
    background-size:cover;
    background-position: center;
    background-image:url(../images/images-grid1.jpg);
    background-repeat: no-repeat;
}
.el2{
    background-size:cover;
    background-position: center;
    background-image:url(../images/images-grid2.jpg);
    background-repeat: no-repeat;
} 
.el3 {
    background-size:cover;
    background-position: center;
    background-image:url(../images/images-grid3.jpg);
    background-repeat: no-repeat;
}
.grid-cont h3{
    margin:5px;
}
.el4,.el5,.el6{
    text-align: left;
}
.new-grid {
    display: grid;
    column-gap: 15px;
    position: absolute;
    transform: translateX(-50%);
    column-gap: 15px;
    grid-template-columns: 300px;
    grid-template-rows: 150px;
    margin-left: 20%;
}
.product-grid{
    justify-content: center;
    display: grid;
    column-gap: 120px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px;
}
.prod-el1{
    background-size:cover;
    background-position: center;
    background-image:url(../images/b591488d-7bbf-44e5-afa1-c010f1782ac5.png);
    background-repeat: no-repeat;
}
.prod-el2{
    background-size:cover;
    background-position: center;
    background-image:url(../images/pc.png);
    background-repeat: no-repeat;
}
.prod-el3{
    background-size:cover;
    background-position: center;
    background-image:url(../images/amdgr.png);
    background-repeat: no-repeat;
}
.block-case{
    width: 60vw;
    margin: 300px auto auto auto;          
    height: 300px;             
}
.block-case h2{
    margin-left: 1%;
}
.case-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    column-gap: 120px;
    row-gap: 30px;
    grid-template-columns: 500px 700px ;
    grid-template-rows: 250px 250px;
}
.case-el1{
    padding-bottom: 150px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    padding: auto;
    text-align: center;       
    font-size: large;
    font-weight: bold;
    background:linear-gradient(to right, #fc00bd, #090508, #000000);
}
.case-el2{
    padding-bottom: 150px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    text-align: center;
    font-size: large;
    font-weight: bold;
    background:linear-gradient(to right, #000000, #090508, #ff0000);
}
.case-el3{
    padding-bottom: 150px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    text-align: center;
    font-size: large;
    font-weight: bold;
    background:linear-gradient(to right, #006aff, #090508, #000000);
}
.case-el4{
    padding-bottom: 150px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    text-align: center;
    font-size: large;
    font-weight: bold;
    background:linear-gradient(to right, #000000, #090508, #ddff00);
}
.case-grid .case-el1 .button{
    margin-top: 200px;
    position: absolute;
}
.case-grid .case-el2 .button{
    margin-top: 200px;
    position: absolute;
}
.case-grid .case-el3 .button{
    margin-top: 200px;
    position: absolute;
}
.case-grid .case-el4 .button{
    margin-top: 200px;
    position: absolute;
}
.block-ln{
    margin-top: 20%;

}
.last-news-grid {
    display: grid;
    justify-content: center;
    column-gap: 15px;
    row-gap: 0px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 150px 150px 150px 150px;
}
.lng1 {
    background-size:cover;
    background-position: center;
    background-image:url(../images/lng1.png);
    background-repeat: no-repeat;
}
.lng2 {
    background-size:cover;
    background-position: center;
    background-image:url(../images/lng2.png);
    background-repeat: no-repeat;
}
.lng3 {
    background-size:cover;
    background-position: center;
    background-image:url(../images/lng3.png);
    background-repeat: no-repeat;
}
.lng4 {
    background-size:cover;
    background-position: center;
    background-image:url(../images/lng4.png);
    background-repeat: no-repeat;
}
.lng5 {
    padding: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    text-align: left;
    font-size: large;
    font-weight: bolder;
    padding-bottom: 70px;
    background:linear-gradient(to right, rgb(50, 50, 50), rgb(48, 47, 47), rgb(44, 44, 44));
}
.lng6 {
    padding: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    text-align: left;
    font-size: large;
    font-weight: bolder;
    padding-bottom: 70px;
    background:linear-gradient(to right, rgb(50, 50, 50), rgb(48, 47, 47), rgb(44, 44, 44));
}
.lng7 {
    padding: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    text-align: left;
    font-size: large;
    font-weight:bolder;
    padding-bottom: 70px;
    background:linear-gradient(to right, rgb(50, 50, 50), rgb(48, 47, 47), rgb(44, 44, 44));
}
.lng8 {
    padding: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;    
    text-align: left;
    font-size: large;
    font-weight: bolder;
    padding-bottom: 70px;
    background:linear-gradient(to right, rgb(50, 50, 50), rgb(48, 47, 47), rgb(44, 44, 44));
}